.inventory {
    z-index: 99;
    position: absolute;
    //width: 50%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: fit-content;
    background-color: black;

    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

    border-color: #06d483;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
}

.block {
    color: wheat;
    margin: 20px;

    img {
        width: 100px;
        //transform: scale(1);
        transition: transform ease 0.5s;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
        &.rotation90 {
            transform: rotate(90deg) scale(1);
            &:hover {
                transform: rotate(90deg) scale(1.1);
            }
        }
        &.rotation180 {
            transform: rotate(180deg) scale(1);
            &:hover {
                transform: rotate(180deg) scale(1.1);
            }
        }
        &.rotation270 {
            transform: rotate(270deg) scale(1);
            &:hover {
                transform: rotate(270deg) scale(1.1);
            }
        }
    }
    &.active {
        img {
            filter: grayscale(0%);
            transform: scale(1.1);
            &.rotation90 {
                transform: rotate(90deg) scale(1.1);
            }
            &.rotation180 {
                transform: rotate(180deg) scale(1.1);
            }
            &.rotation270 {
                transform: rotate(270deg) scale(1.1);
            }
        }
    }
}
